body {
    background:url('../imagenes/fondo.png');
}

#contenedor{
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

#contenedor2{
    width: 650px;
    margin: 0 auto;
}

#contenedor2 h1{
    text-align: center;
}

#contenedor a{
    text-decoration: none;
    color: black;
}

#contenedor a:hover{
    color: darkblue;
    font-style: bold;
}

#contenedor table td, th{
    padding: 10px;
}

#contenedor table tbody tr:nth-child(even){
    background-color: white;
    color: #37345f;
}

#contenedor table tbody tr:nth-child(odd){
    background-color: #37345f;
    color: white;
}

#btAceptar{
    background-color: #37345f;
    color: white;
    width: 200px;
}

#btCancelar{
    width: 200px;
    margin-left: 15px;
}

/******************************* FORMULARIOS ***********************************************/
/*******************************************************************************************/

#fangspotted{
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 20px;
    background: #FFFFFF;
    }

#imagen{
    margin-top: 15px;
    margin-bottom: 15px;
    }

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 400px;
    background: #FFFFFF;
    }
   
textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }
   
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    }
   
.form label {
    margin-left: 10px;
    color: #999999;
    }
   
.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 30px;
    float: right;
    }


